
.container1{
        background-image: url(images/feedback-bg.jpg);
        background-repeat: no-repeat;
        background-size:cover ;
        height:100vh;
        width: 100vw;
        
}
header{
   padding:80px 0 30px 0;
   text-align: center;
   color: #f5813e
   

}

.feed-form{
display:flex;
flex-direction: column;
align-items: center;
background-color: rgb(255, 255, 255);
width:30%;
margin:50px ;
padding: 30px 30px;
}

.feed-form .feedinput{
    width: 80%;
   margin: 10px;
   padding: 10px 20px;
   border: none;
   border-bottom: 2px solid #284B63;    
   
   resize: none;
 
}
.form-head{
    width:80%;
    margin-bottom: 15px;
}

.submit-button{
    background-color: #f5813e;
    color:white;
    font-weight: 700;
    border:none;
    margin: 20px;
    padding: 8px 108px;
   
}
