@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

/* Contact Us Css */

.contact{
    position: relative;
    min-height: 100vh;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(images/W.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:#f5813e;
}
.contact .content p{
    font-weight: 300;
    color: #FFFFFF;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #FFFFFF;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #f5813e;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #ffffff;
    margin-top: 120px;
}
.contactForm h2{
    font-size: 30px;
    color:#284B63;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px; 
}
.contactForm .inputBox input,.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    border:none;
    border-bottom:2px solid #284B63;
    outline:none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute; 
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#666;
}
.contactForm .inputBox input:focus ~ span,.contactForm .inputBox input:valid ~ span,.contactForm .inputBox textarea:focus ~ span,.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100%;
    background:#f5813e;
    color:#ffffff;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
}
@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
}
.maincontainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

       /* contact us form end */

.main-pop{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(1px);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    display: none;
}
.sub-pop{
    padding: 20px 50px;
    height: 80%;
    background-color:white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sub-pop h1{
    margin-bottom: 10px;
    color: rgb(50, 50, 50);
}
.sub-pop h3{
    margin: 10px 0;
    font-weight: 500;
}
.radios{
    margin-top: 15px;
}
.sub-pop div{
    display:flex;
    justify-content: flex-start;
    gap: 10px;  
}
.p-img{
    height: 50%;
    border-radius: 20px;
    margin: 0 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    filter: drop-shadow(rgba(0, 0, 0, .2) 5px 5px 10px);
    -webkit-filter: drop-shadow(rgba(0, 0, 0, .2) 5px 5px 10px);
}
.first-inp{
    margin-top: 5px;
    width: 70%;
    height: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, .3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.first-inp:focus{
    outline: none;
    border: 1px solid rgba(0, 0, 0, .5);
}
.first-inp::placeholder{
    font-weight: 700;
}

.pop-btn{
    border: none;
    padding: 10px 50px;
    margin-top: 15px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
} 
.pop-btn:focus{
    outline: none;
    border: rgb(0, 0, 0, .2) 1px solid;
}
.sub-pop div{
    display:flex;
    justify-content: flex-start;
}
.p-img{
    height :50%;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo{
    font-size: 25px;
    color: white;
}
.navs{
    display: flex;
    gap: 20px;
}
.navs a{
    color: white;
    text-decoration: none;
}


@media screen and (min-width: 1200px){
    .btn-hover{
        position: relative;
    }
    .btn-hover::after{
        content: "";
        overflow: hidden;
        position: absolute;
        left: -111%;
        top: -30px;
        width: 30px;
        height: 100px;
        background-color: rgba(255, 255, 255, .3);
        transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg)    ;
        -moz-transform: rotateZ(-30deg)    ;
        -ms-transform: rotateZ(-30deg)    ;
        -o-transform: rotateZ(-30deg)    ;
        transition: all 250ms;
        -webkit-transition: all 250ms;
        -moz-transition: all 250ms;
        -ms-transition: all 250ms;
        -o-transition: all 250ms;
    }
    .btn-hover:hover::after{
        left: 111%;
    }
}

