
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

* { margin: 0;  padding: 0; box-sizing: border-box;}

.bg-img { overflow :hidden; height: 120vh; background-size: cover;background-position: center;}



.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    text-align: center;
    padding: 60px 32px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}

.content header {
 color: #fff; font-size: 33px; font-weight: 600; margin: 10px 0 35px 0; font-family: 'Poppins', sans-serif;}

.field { position: relative; height: 45px; width: 100%; display: flex; background: rgba(255, 255, 255, 0.94);}

.field span { color: #222;width: 40px;line-height: 45px; padding: 0 10px;}

.field input { height: 100%; width: 100%; background: transparent;
 border: none; outline: none; color: #222; font-size: 16px; font-family: 'Poppins', sans-serif;}

.space {margin-top: 20px;}

.pass { text-align: left; margin: 10px 0;}

.pass a { color: #fff; font-family: 'Poppins', sans-serif; text-decoration: none;}

.pass:hover a { text-decoration: underline;}

input[type="submit"] {
    background: linear-gradient(to right, #0000ff 0%, #6666ff 100%);
    border: 1px solid linear-gradient(to right, #0000ff 0%, #6666ff 100%);color: #fff;
    font-size: 18px;letter-spacing: 1px;font-weight: 600; cursor: pointer;font-family: 'Montserrat', sans-serif;}

input[type="submit"]:hover { background: linear-gradient(to left, #0000ff 0%, #6666ff 100%);}

.login {  color: #fff; margin: 20px 0;font-family: 'Poppins', sans-serif;}

.link {  display: flex;  cursor: pointer;  color: #fff; margin: 0 0 20px 0;}



.link i {font-size: 17px;}

.link span {font-size: 15px; margin-left: 8px;font-weight: 600; font-family: 'Poppins', sans-serif;}

.field1 { position: relative; height: 95px; width: 100%; display: flex; background: rgba(255, 255, 255, 0.94);}

.field1 span { color: #222;width: 40px;line-height: 45px; }

.field1  input { height: 100%; width: 100%; background: transparent;
 border: none; outline: none; color: #222; font-size: 16px; font-family: 'Poppins', sans-serif;}
 .as{ 
    align-items:left
 }

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: Poppins;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
.main-pop{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
    display:flex;
    justify-content: center;
    align-items: center;

}
.sub-pop{
    height: 80%;
    width: 80%;
    background-color:white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.radios{
    margin-top: 15px;
    flex-direction: column;
}
.sub-pop div{
    display:flex;
    justify-content: flex-start;
    gap: 10px;  
    width: 10%;
}
.p-img{

    height: 50%;
}
