.mark-container{
    display: flex;
    justify-content: center;
}
.mark-contain{
    padding: 90px 50px 50px 50px ;
    width: calc(95% - 100px);
    filter: drop-shadow(rgba(0,0,0,0.4)0 0 10px);
    background-color: #ffffff;
}

.mark-name{
    font-size: 40px;
}
.mark-class{
    font-size: 25px;
}
.result{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 400px));
    grid-gap: 20px;
}
.logs{
    display: flex;
    gap: 15px;
    padding: 5px 20px;
    border-radius: 10px 0 10px 0;
    filter: drop-shadow(rgba(0, 0, 0, .1) 5px 5px 10px);
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
